<%= form_for([@book, @copy]) do |f| %>
  <% if @copy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@copy.errors.count, "error") %> prohibited this copy from being saved:</h2>

      <ul>
      <% @copy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :book_id %>

  <div class="field">
    <%= f.label :edition_number %><br />
    <%= f.text_field :edition_number %>
  </div>
  <div class="field">
    <%= f.label :publish_year %><br />
    <%= f.number_field :publish_year %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
