<h1><%=t :listing_copies_of -%> <%= link_to @book.title, @book -%></i></h1>

<table>
  <tr>
    <th>Id</th>
    <th><%=t 'Edition number' -%></th>
    <th><%=t 'Publish year' -%></th>
    <th><%=t :current_state -%></th>
    <th colspan="2"></th>
  </tr>

<% @copies.each do |copy| %>
  <tr>
    <td><%= copy.id %></td>
    <td><%= copy.edition_number %></td>
    <td><%= copy.publish_year %></td>
    <td><%= current_state(copy) %></td>
    <td><%= link_to t('Edit'), edit_book_copy_path(@book, copy) %></td>
    <td><%= link_to t('Destroy'), [@book, copy], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('New Copy'), new_book_copy_path(@book) %> | 
<%= link_to t(:back), @book %>
