<p id="notice"><%= notice %></p>

<h1><%=t 'Copy of' -%> <%= link_to @book.title, @book -%></h1>
<p>
  <b>Edition number:</b>
  <%= @copy.edition_number %><br />
  <b>Publish year:</b>
  <%= @copy.publish_year %>
</p>

<div id="rentals">
<h2><%=t :rentals -%></h2>

<ul>
	<% @copy.rentals.each do |rental| %>
	<li>
		<%= rental.user.full_name -%>
		<%=t :since -%>
		<% if rental.last_renewal %>
		<%= rental.last_renewal -%> (<%= rental.begin_date -%>)
		<% else %>
		<%= rental.begin_date -%>
		<% end %>
		<% if rental.end_date %>
			<%=t :until -%>
			<%= rental.end_date -%>
		<% else %>
			<%= link_to t(:renew_rent), renew_rent_book_copy_path(@book, @copy, :rental_id => rental), :method => :post %> |
			<%= link_to t(:finish_rent), finish_rent_book_copy_path(@book, @copy, :rental_id => rental), :method => :post %>
		<% end %>
	</li>
	<% end %>
</ul>
</div>

<div id="reservations">
<h2><%=t :reservations -%></h2>

<ul>
	<% @copy.reservations.each do |reservation| %>
	<li>
		<%= reservation.user.full_name -%>
		<%= reservation.reservation_date -%>
		<%= link_to t(:execute_reservation), execute_reservation_book_copy_path(@book, @copy, :reservation_id => reservation), :method => :post %> |
		<%= link_to t(:cancel_reservation),   cancel_reservation_book_copy_path(@book, @copy, :reservation_id => reservation), :method => :post %>
	</li>
	<% end %>
</ul>
</div>

<div id="actions">
<p>
	<%= form_tag new_rent_book_copy_path(@book, @copy) do -%>
	<h3><%=t :new_rental -%></h3>
	<div class="field">
		<%= label_tag :user_id, t('User') -%><br />
		<%= select_tag :user_id, options_from_collection_for_select(@users, :id, :full_name) %>
	</div>
	<div class="actions">
		<%= submit_tag t(:make_a_rent) %>
	</div>
	<% end %>
</p>

<p>
	<%= form_tag new_reservation_book_copy_path(@book, @copy) do -%>
	<h3><%=t :new_reservation -%></h3>
	<div class="field">
		<%= label_tag :user_id, t('User') -%><br />
		<%= select_tag :user_id, options_from_collection_for_select(@users, :id, :full_name) %>
	</div>
	<div class="actions">
		<%= submit_tag t(:make_a_reservation) %>
	</div>
	<% end %>
</p>

</div>

<%= link_to t('Edit'), edit_book_copy_path(@book, @copy) %> |
<%= link_to t('Back'), @book %>
