<h1><%=t 'Listing authors' -%></h1>

<table>
  <tr>
    <th><%=t 'Author name' -%></th>
    <th><%=t 'Birth year' -%></th>
    <th><%=t 'Death year' -%></th>
  </tr>

<% @authors.each do |author| %>
  <tr>
    <td><%= link_to author.full_name, author %></td>
    <td><%= author.birth_year %></td>
    <td><%= author.death_year %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('New Author'), new_author_path %>
