<p id="notice"><%= notice %></p>

<h1><%=t :author -%>: <%= @author.full_name -%></h1>

<p>
  <b><%=t 'Forename' -%>:</b>
  <%= @author.forename %>
</p>

<p>
  <b><%=t 'Surname' -%>:</b>
  <%= @author.surname %>
</p>

<p>
  <b><%=t 'Birth year' -%>:</b>
  <%= @author.birth_year %>
</p>

<p>
  <b><%=t 'Death year' -%>:</b>
  <%= @author.death_year %>
</p>

<h2><%=t :books -%></h2>
<ul>
	<% @author.books.each do |book| -%>
	<li><%= link_to book.title, book -%></li>
	<% end %>
</ul>

<p>
<%= link_to t('New Book'), new_book_path(:author_id => @author) %>
</p>


<%= link_to t('Edit'), edit_author_path(@author) %> |
<%= link_to t('Destroy'), @author, method: :delete, data: { confirm: t('Are you sure?') } %> |
<%= link_to t('Back'), authors_path %>
