<h1><%=t 'Listing users' -%></h1>

<table>
  <tr>
    <th><%=t 'Name' -%></th>
    <th><%=t 'Email' -%></th>
    <th><%=t 'Phone' -%></th>
    <th><%=t 'Address' -%></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.full_name, user %></td>
    <td><%= user.email %></td>
    <td><%= user.phone %></td>
    <td><%= user.address %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('New User'), new_user_path %>
