<p id="notice"><%= notice %></p>

<h1><%= @user.full_name -%></h1>
<br />

<p>
  <b><%=t 'Surname' -%>:</b>
  <%= @user.surname %>
</p>

<p>
  <b><%=t 'Forename' -%>:</b>
  <%= @user.forename %>
</p>

<p>
  <b><%=t 'Reference number' -%>:</b>
  <%= @user.reference_number %>
</p>

<p>
  <b><%=t 'Email' -%>:</b>
  <%= mail_to @user.email, @user.email %>
</p>

<p>
  <b><%=t 'Phone' -%>:</b>
  <%= @user.phone %>
</p>

<p>
  <b><%=t 'Address' -%>:</b>
  <%= @user.address %>
</p>


<%= link_to t('Edit'), edit_user_path(@user) %> |
<%= link_to t('Destroy'), @user, method: :delete, data: { confirm: t('Are you sure?') } %> |
<%= link_to t('Back'), users_path %>
