<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :author_id %><br />
    <%= f.collection_select :author_id, Author.all, :id, :full_name %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :publish_year %><br />
    <%= f.number_field :publish_year %>
  </div>
  <div class="field">
    <%= f.label :rental_length %><br />
    <%= f.number_field :rental_length %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
