<h1><%=t :listing_categories_of -%> <%= link_to @book.title, @book -%></i></h1>

<table>
  <tr>
    <th><%=t :category -%></th>
    <th></th>
  </tr>

<% @book.categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= link_to t('Destroy'), remove_category_of_book_path(@book, category.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<h3><%=t :new_category -%></h3>
<%= form_tag(add_category_of_book_path(@book)) do %>
  <p>
    <%=t :category -%>:
    <%= select_tag :category_id, options_from_collection_for_select(Category.all, :id, :name) %>
  </p>
  <p><%= submit_tag -%></p>
<% end %>

<%= link_to t(:back), @book %>