<h1><%=t 'Listing books' -%></h1>

<table>
  <tr>
    <th><%=t 'Author' -%></th>
    <th><%=t 'Title' -%></th>
    <th><%=t 'Description' -%></th>
    <th><%=t 'Publish year' -%></th>
  </tr>

<% @books.each do |book| %>
  <tr>
    <td><%= link_to book.author.full_name, book.author %></td>
    <td><%= link_to book.title, book %></td>
    <td><%= truncate(book.description, :length => 100) %></td>
    <td><%= book.publish_year %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('New Book'), new_book_path %>
