<h1><%=t :book -%>: <%= @book.title -%></h1>

<p id="notice"><%= notice %></p>

<p>
  <b><%=t 'Author' -%>:</b>
  <%= link_to @book.author.full_name, @book.author %>
</p>

<p>
  <b><%=t 'Description' -%>:</b>
  <%= @book.description %>
</p>

<p>
  <b><%=t 'First publish year' -%>:</b>
  <%= @book.publish_year %>
</p>

<p>
  <b><%=t 'Rental length' -%>:</b>
  <%= @book.rental_length %>
</p>

<p>
  <b><%=t :categories -%>:</b>
  <% @book.categories.each do |category| %>
    <span><%= link_to category.name, category -%>, </span>
  <% end %>
</p>


<%= link_to t(:manage_copies), book_copies_path(@book) %> |
<%= link_to t(:manage_categories), categories_of_book_path(@book) %> |
<%= link_to t('Edit'), edit_book_path(@book) %> |
<%= link_to t('Destroy'), @book, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to t('Back'), books_path %>
