<h1><%=t 'Listing categories' -%></h1>

<table>
  <tr>
    <th>Name</th>
    <th colspan="2"></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= link_to category.name, category %></td>
    <td><%= link_to t('Edit'), edit_category_path(category) %></td>
    <td><%= link_to t('Destroy'), category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('New Category'), new_category_path %>
