<p id="notice"><%= notice %></p>

<h1><%=t :category -%>: <%= @category.name -%></h1>

<ul>
	<% @category.books.each do |book| %>
	<li><%= link_to book.title, book -%></li>
	<% end %>
</ul>

<%= link_to t('Edit'), edit_category_path(@category) %> |
<%= link_to t('Back'), categories_path %>
